<h1>New Label job</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.label_job_path(@conn, :create)) %>

<div class="mt-4">
  <%= link "Back", to: Routes.label_job_path(@conn, :index) %>
</div>
