@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Basic Elements */

body {
    @apply text-white bg-gray-900;
}

h1 {
    @apply text-3xl text-gray-300 font-medium;
}

h2 {
    @apply text-2xl text-gray-300 font-medium;
}

h3 {
    @apply text-xl text-gray-400;
}

.link {
    @apply text-blue-200 hover:text-blue-300 hover:underline font-medium;
}


/* Buttons */

.btn, .link-btn {
    @apply px-3 py-1.5 rounded focus:ring-2 ring-offset-2 ring-offset-gray-900 transition;
}
.btn-lg {
    @apply px-4 py-2;
}
.btn-xl {
    @apply text-lg px-6 py-3;
}
.btn-jumbo {
    @apply py-2 w-full text-lg flex justify-center items-center;
}

.btn-round {
    @apply p-0 rounded-full flex justify-center items-center;
}

.btn-blue {
    @apply text-black font-medium;
    @apply bg-blue-300 hover:bg-blue-400;
    @apply focus:ring-blue-200 focus:hover:ring-blue-300;
    @apply focus:outline-none;
}

.btn-dark-blue {
    @apply text-blue-50 font-medium;
    @apply bg-blue-700 hover:bg-blue-600;
    @apply focus:ring-blue-700 focus:hover:ring-blue-600;
    @apply focus:outline-none;
}

.btn-gray {
    @apply text-black font-medium;
    @apply bg-gray-400 hover:bg-gray-500;
    @apply focus:ring-gray-200 focus:hover:ring-gray-400;
    @apply focus:outline-none;
}

.btn-icon {
    @apply pl-2 flex items-center space-x-1;
}
.btn-icon.btn-lg {
    @apply pl-2 space-x-2;
}
.btn-icon.btn-xl {
    @apply pl-5 space-x-3;
}

.btn-icon-only {
    @apply p-2;
}
.btn-icon-only.btn-sm {
    @apply p-1;
}


/* Cards */

.card {
    @apply p-2;
    @apply bg-gray-800 rounded;
    @apply border border-gray-700;
}

.link-card {
    @apply hover:border-gray-500 transition;
}

.pill {
    @apply inline-block px-2 py-0.5 text-xs rounded-full;
}

.pill-lg {
    @apply px-3 py-1 text-sm font-medium;
}

.pill-violet {
    @apply text-violet-400 bg-violet-400 bg-opacity-20;
}

.pill-orange {
    @apply text-orange-400 bg-orange-400 bg-opacity-20;
}

.pill-green {
    @apply text-green-400 bg-green-400 bg-opacity-20;
}

.pill-blue {
    @apply text-blue-400 bg-blue-400 bg-opacity-20;
}

.pill-yellow {
    @apply text-yellow-300 bg-yellow-300 bg-opacity-20;
}

.pill-gray {
    @apply text-gray-400 bg-gray-500 bg-opacity-20;
}

.tag {
    @apply px-1 py-0.5 text-xs text-gray-400 bg-gray-800 rounded;
}

.tag-light {
    @apply bg-gray-700;
}


/* Table */
.table tr {
    @apply hover:text-gray-200;
    @apply border-b border-gray-700;
}
.table tbody tr:last-child {
    @apply border-b-0;
}

.table th {
    @apply text-xs text-gray-400 font-medium;
}
.table th, .table td {
    @apply px-2 py-1 text-center;
}


/* Forms */

.form-content {
    @apply flex flex-col items-start space-y-4;
}

.form-content p {
    @apply flex flex-col items-start space-y-1;
}

.form-content .invalid-feedback {
    @apply text-xs text-red-400;
}

.form-content label {
    @apply text-sm text-gray-400;
}

.form-content input[type="text"],
.form-content input[type="number"],
.form-content input[type="password"] {
    @apply px-2 py-1;
    @apply placeholder-gray-500;
    @apply bg-gray-700 rounded;
    @apply border-gray-500 hover:border-gray-300 focus:border-blue-500 focus:ring-blue-500;
}

.form-content select {
    @apply w-60 px-2 py-1 pr-8;
    @apply text-gray-300;
    @apply bg-gray-700 rounded;
    @apply border-gray-500 hover:border-gray-300 focus:border-blue-500 focus:ring-blue-500;
}

.form-content button[type='submit'] {
    @apply mt-4 btn btn-blue;
}

.form-wide p {
    @apply w-full;
}

.form-wide input[type="text"],
.form-wide input[type="number"],
.form-wide input[type="password"] {
    @apply w-full;
}

/* Filter/Sort Forms */

.filter-form-content {
    @apply p-2;
    @apply bg-gray-800 rounded;
    @apply border border-gray-700 border-opacity-50;
}

.filter-form-content label {
    @apply mr-0.5 text-xs text-gray-400;
}

.filter-form-content input[type="text"],
.filter-form-content input[type="number"],
.filter-form-content input[type="password"] {
    @apply px-2 py-1 w-80;
    @apply placeholder-gray-500;
    @apply bg-gray-800 rounded;
    @apply border-gray-500 hover:border-gray-300 focus:border-blue-500 focus:ring-blue-500;
}

.filter-form-content select {
    @apply pl-1 pr-8 py-1 text-sm;
    @apply text-gray-400;
    @apply bg-transparent rounded;
    @apply border-gray-600 hover:border-white focus:border-blue-500 focus:ring-blue-500;
}


/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
    @apply px-3 py-2 mb-4;
    @apply border rounded;
}
.alert-info {
    @apply bg-blue-900 text-blue-50 border-blue-500;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
    @apply bg-red-900 text-red-50 border-red-200;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
/*
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
*/

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

