<main class="flex flex-col">
  <%= link "Datasets", to: Routes.live_path(@conn, HyacinthWeb.DatasetLive.Index), class: "link" %>
  <%= link "Pipelines", to: Routes.live_path(@conn, HyacinthWeb.PipelineLive.Index), class: "link" %>
</main>
