<main class="mt-6 mx-auto max-w-screen-lg">
  <div>
    <h1>Pipeline <%= @pipeline.id %></h1>
  </div>
  <div class="mt-4">
    <button class="btn btn-blue" phx-click="run_pipeline">Run Pipeline</button>
  </div>
</main>
